.header {
    height: $header-height;
    padding: $spacing;
    margin: 0px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255,255,255, 0.3);
    display: block;
    //font-family: 'Fira Sans';
    .header__content {
        width: 1320px;
        height: 340px;
        color: rgba(255,255,255, 1);
        background-color: rgba(255,255,255, 0.3);
        -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        margin: 0 auto;

        h1 {
            padding-top: 30px;
        }
    }
}

@media only screen and (min-width: $mq-medium) {
    .header {
        .search {
            .search__inputs {
                max-height: 65px;
                margin-bottom: 10px;
                width: 80%;
                input {
                    position: relative;
                    top: 0.5vw;
                    font-size: 24px;
                    &:focus + label {
                        position: relative;
                        top: 1vw;
                    }
                    &:not(:placeholder-shown),
                    &:focus {
                        position: relative;
                        top: 0.5vw;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $mq-large) {
    .header {
        height: $header-height;
        padding: $spacing;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        .search {
            .search__inputs {
                max-height: 65px;
                width: 50%;
                input {
                    font-size: 26px;
                }
            }
        }
    }
}
.buttons {
    margin: 20px auto;

    h3 {
        margin-bottom: 0px;
        font-weight: bolder;
    }
}
button {
    -webkit-appearance:none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    &:hover {
        transition: all 0.3s ease;
    }
}

.black {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    &:hover {
        background: rgba(0, 0, 0, 0.7);
    }
    &:focus {
        background: rgba(0, 0, 0, 1);
    }
}


.red {
    background: rgba(255, 105, 97, 0.9);
    border: none;
    &:hover {
        background: mix(rgba(255, 105, 97, 0.9), #fff, 90%);
    }
    &:focus {
        background: mix(rgba(255, 105, 97, 0.9), #fff, 70%);
    }
}

.orange {
    border: none;
    background: rgba(255, 179, 71, 0.9);
    &:hover {
        background: mix(rgba(255, 179, 71, 0.9), #fff, 90%);
    }
    &:focus {
        background: mix(rgba(255, 179, 71, 0.9), #fff, 70%);
    }
}

.yellow {
    border: none;
    background: rgba(253, 253, 150, 0.9);
    &:hover {
        background: mix(rgba(253, 253, 150, 0.9), #fff, 90%);
    }
    &:focus {
        background: mix(rgba(253, 253, 150, 0.9), #fff, 70%);
    }
}


.green {
    border: none;
    background: rgba(119, 221, 119, 0.9);
    &:hover {
        background: mix(rgba(119, 221, 119, 0.9), #fff, 90%);
    }
    &:focus {
        background: mix(rgba(119, 221, 119, 0.9), #fff, 70%);
    }
}

.blue {
    border: none;
    background: rgba(144, 168, 245, 0.9);
    &:hover {
        background: mix(rgba(174, 198, 245, 0.9), #fff, 90%);
    }
    &:focus {
        background: mix(rgba(174, 198, 245, 0.9), #fff, 70%);
    }
}

.purple {
    border: none;
    background: rgba(177, 156, 217, 0.9);
    &:hover {
        background: mix(rgba(177, 156, 217, 0.9), #fff, 90%);
    }
    &:focus {
        background: mix(rgba(177, 156, 217, 0.9), #fff, 70%);
    }
}

.pink {
    border: none;
    background: rgba(255, 209, 220, 0.9);
    &:hover {
        background: mix(rgba(255, 209, 220, 0.9), #fff, 90%);
    }
    &:focus {
        background: mix(rgba(255, 209, 220, 0.9), #fff, 70%);
    }
}

.white {
    border: none;
    background: rgba(255, 255, 255, .5);
    &:hover {
        background: rgba(255, 255, 255, .8);
    }
    &:focus {
        background: rgba(255, 255, 255, 1);
    }
}
