$width: 12vw;
$seven: 7;
$eleven: 11;
$eighteen: 18;

.photos {
    margin: 0px auto 0px auto;
    width: 100%;

    .photo_row_even {
        &:nth-child(#{$seven}),
        &:nth-child(#{$eleven}n + #{$eighteen}){
            padding-left: 0.6*$width;
        }
        &:nth-child(#{$eleven}n){
            padding-right: 0.6*$width;
        }
    }

    .photo_row_even,
    .photo_row_odd {
        display: inline-block;
        margin: 0 auto -14vw auto;
        overflow: hidden;
    }

    .photo {

        .center {
            float: left;
            margin: 20px 10px;
            width: $width;
        }

        .photo_hexa {
            transform: rotate(120deg);
            cursor: pointer;
            height: $width*2;
            overflow: hidden;
            visibility: hidden;
            width: $width;
        }

        .photo_hexa_outer {
            transform: rotate(-60deg);
            height: 100%;
            overflow: hidden;
            width: 100%;
        }

        .photo_hexa_inner {
            transform: rotate(-60deg);
            height: 100%;
            /*@include background-size(($width + ($width * .20)) ($width + ($width * .20)));
            background-position: 50%;*/
            position: relative;
            visibility: visible;
            width: 100%;
        }

        .photo_hexa_desc {
            color: white;
            font-family: 'Lato', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            height: $width*2;
            line-height: 1.5em;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            visibility: visible;
            width: $width;

            & .base {
                background: rgba(230, 0, 98, 0.75);
            }
            & .one {
                background: rgba(252, 171, 55, 0.75);
            }
            & .two {
                background: rgba(169, 160, 50, 0.75);
            }
            & .three {
                background: rgba(83, 70, 54, 0.75);
            }
            & h2 {
                margin: ($width - ($width / 4)) 20px 0 20px;
            }
        }
    }
}
