$width: 220px;

.photos {
    margin: $width*-0.7 auto 0px auto;
    width: 90%;
    padding: 0px 20px;

    .photo_row_even {
        display: inline-block;
        margin: 0 auto -275px auto;
        overflow: hidden;
    }

    .photo_row_odd {
        display: inline-block;
        margin: 0 auto -275px auto;
        overflow: hidden;
    }

    .photo {

        .center {
            float: left;
            margin: 20px 10px;
            width: $width;


            .photo_hexa {
                -moz-transform: rotate(120deg);
                -ms-transform: rotate(120deg);
                -webkit-transform: rotate(120deg);
                transform: rotate(120deg);
                cursor: pointer;
                height: $width*2;
                overflow: hidden;
                visibility: hidden;
                width: $width;


                .photo_hexa_outer {
                    -moz-transform: rotate(-60deg);
                    -ms-transform: rotate(-60deg);
                    -webkit-transform: rotate(-60deg);
                    transform: rotate(-60deg);
                    height: 100%;
                    overflow: hidden;
                    width: 100%;

                    .photo_hexa_inner {
                        -moz-transform: rotate(-60deg);
                        -ms-transform: rotate(-60deg);
                        -webkit-transform: rotate(-60deg);
                        transform: rotate(-60deg);
                        height: 100%;
                        /*@include background-size(($width + ($width * .20)) ($width + ($width * .20)));
                        background-position: 50%;*/
                        position: relative;
                        visibility: visible;
                        width: 100%;

                        .photo_hexa_desc {
                            color: white;
                            font-family: 'Lato', sans-serif;
                            font-size: 1.5em;
                            font-weight: 300;
                            height: $width*2;
                            line-height: 1.5em;
                            position: absolute;
                            text-align: center;
                            text-transform: uppercase;
                            visibility: visible;
                            width: $width;

                            & .base {
                                background: rgba(230, 0, 98, 0.75);
                            }
                            & .one {
                                background: rgba(252, 171, 55, 0.75);
                            }
                            & .two {
                                background: rgba(169, 160, 50, 0.75);
                            }
                            & .three {
                                background: rgba(83, 70, 54, 0.75);
                            }
                            & h2 {
                                margin: ($width - ($width / 4)) 20px 0 20px;
  }
                            & p {
                                font-size: .5em;
                                text-transform: lowercase;
                            }
                        }
                    }
                }
            }
        }
    }


}

/*.crop {
display: inline-block;
width: 300px;
height: 300px;
margin: 0px 20px;
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
img {
width: auto;
height: 400px;
margin: 0px;

&:hover {
opacity: 0.8;
filter: alpha(opacity=80);
-webkit-filter: brightness(125%);
filter: brightness(125%);
transition: all 0.3s ease;
}
}
}*/
